{% extends "base.html" %}
{% block content %}

<div class="post">
  <div class="icon-bar">
    <a href="continuum.html"><img class="icon" src="/images/continuum_icon.jpg"></a>
    <a href="update.html"><img class="icon" src="/images/update_icon.jpg"></a>
    <a href="tree.html"><img class="icon" src="/images/emo_icon.jpg"></a>
    <a href="eyes.html"><img class="icon" src="/images/eye_icon.jpg"></a>
  </div>

<div id="similar">
<br>
  <hr style="width:100%">
  <!-- </hr> -->
</div>

<div class="clearfix">
<div class="column icon_big">
<img class="icon" src={{ article.image }}>
</div>
<div class="column icon_title_big">
<h1><font class="post-title">{{ article.title }}</font></h1>
</div>
</div>


<!-- <h1 class="post-title">{{ article.title }}</h1> -->

	<!-- <span class="post-date">{{ article.locale_date }}</span> -->
	{{ article.content }}
	<!-- {% include 'fragments/disqus.html' %} -->
</div>
{% endblock %}
